<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ElKosor</key>
	<dict>
		<key>Name</key>
		<string>الكسور</string>
		<key>Details</key>
		<string>العظام:هي أنسجة قوية قاسية قابلة للكسر كالزجاج. يحدث الكسر عند تعرضها لأي قوة خارجية كالضرب، أو الاصطدام، أو السقوط من ارتفاع أو من حوادث    السيارات وغيرها\n
:طرق الاستدلال ومعرفة كسر العظام: \n
    .١- .وجود ألم شديد في مكان الإِصابة يشعر به المريض. \n
.٢- وجود حركة غير عادية في مكان الكسور \n
- عدم قدرة المصاب على استعمال العضو المكسور. \n
- ظهور ورم حول نقطة الألم. \n
- وجود خشخشة عند تحريك جزأي العظم المكسور. \n
\n\n
انواع الكسور \n\n
.أ ) الكسر البسيط: هو الذي يبقى فيه الجلد سليما دون قطع ولا ينزل من مكان الإِصابة دم ) \n
ب) الكسر المضاعف:هو الكسر المصحوب بتمزق الجلد والأنسجة المحيطة به وبروز العظم المكسور من الجلد، \n وهذا النوع مؤلم وخطر لأن بإصابة الجلد يسهل دخول الجراثيم وغيرها في الجرح، فإذا وصلت إلى نخاع العظم يلتهب التجويف لذلك العظم وقد يضطر الطبيب في هذه الحالة إلى بتر العضو المصاب\n
تجـديد العظـام: \n
للعـظام كباقي الأنسجة قوة على إصلاح وتجديد ما قد يصيبها من إصابات أو كسور، ولو في سن متقدم، إذ تسارع خلاياها لبناء الكسور أو إصلاح الإِصابات، ويساهم في عملية التجديد هذه في صغار السن نخاع العظم، والذي يشمل الكالسيوم.  \n\n  

نخـاع العظـم:هو عبارة عن النسيج الدهني الذي يوجد داخل تجويف العظام وبين رحبات جزئها الإِسفنجي.
الكالسـيوم:هو أحد العناصر المهمة الأساسية للجسم، ويكون ما يزيد على 2% من وزن الجسم، وهو عنصر من العناصر غير العضوية ويدخل معظمه في تكوين العظام. \n\n

طرق إسعاف الكسور: \n
يجب عند إسعاف الكسور الاحتراس من استفحال الضرر وحدوث المضاعفات ونقل المصاب بصورة صحيحة مريحة كالآتي: \n
طريقة تثبيت الطرف المكسور: توضع جبيرة على الرجل لمنع حركتها، اربط الرجل إلى الجبيرة ولكن تجنب الربط في مكان الكسر\n
أ - إذا كان الكسر مضاعفاً مصحوباً بنزيف يجب أن نخلع ملابس المصاب في مكان الإصابة مع الحرص والعناية لإِيقاف النزيف أولا ثم يغطى بضماد نظيف، وبعدها يجبر العضو بجبيرة من الخشب أو من ورق مقوى أو الجبس (مادة صلبة). \n
والفائـدة من استعـمال الجبيرة هي حفظ العضو المصاب في الوضع الطبيعي. \n
ب - أما في الكسر البسيط فنقوم بتثبيت العضو المصاب بجبيرة مناسبة بعد إعادة أطراف العظم المكسور إلى الوضع الطبيعي. \n
جـ- في حالة إصابة الرأس أو الصدر أو الظهر يجب مراعاة وضع المريض عند نقله وذلك بعدم ثني الرأس أو الصدر، ويجب نقل المصاب منبسطا على لوح من الخشب أو نقالة خشبية ويلزم تعاون عدد من الأفراد في ذلك لمنع حدوث مضاعفات. ولحـماية الفقرات الظهرية.</string>
	</dict>
	<key>ElHoro2</key>
	<dict>
		<key>Name</key>
		<string>الحروق</string>
		<key>Details</key>
		<string>
هي تخريبات تحدث في أنسجة الجسم بسبب ملامسة الجسم للنار أو للسوائل الساخنة أو البخار أو المواد الكيميائية الحارقة. \n
وتنقسم الحروق حسب شدتها إلى: \n
- حروق الدرجة الأولى: وفيها يحمر لون الجلد المصاب نتيجة لسع خفيف. \n
- حروق الدرجةالثانية :وفيها يحدثاحمرار شديد بالجلد وينتفخ، وتتكون فقاعات تمتليء بالهواء. -\n
- حروق الدرجة الثالثة (الحروق الكيماوية):نتيجة ملامسة القلوياتوالأحماض وهي أشد حالات الحروق، حيث يحترق الجلد ويتضخم، وربما يتعمق الاحتراق فيالجسم ويجف الجلد المحروق ويموت، ثم يسقط الجلد على شكـل قشور وعادة يتجدد الجلدالمحـروق، وفي الحـالات الصعبة قد تؤدي إلى الموت إذا أصاب الاحتراق أكثر من ثلثالجلد. \n
\n
كيف يمكن إسـعاف الحـروق ؟\n
(أ) إذا كان الحرق بسيطا من الدرجة الأولى أمكننا أن نعالجه بأنفسنا بإتباع الآتي: \n
- نغمس المكان المحترق في الماء البارد لتخفيف درجة الحرارة. \n
- يدهن موضـع الجلد المحـترق بالفازلين النقي أو حمض الكبريتيك الأصفر اللون منعا لحدوث مضاعفات. \n
- نضمد الجرح بضماد الحروق ويربط بدقة برباط خفيف. \n
وقد يغني عن ذلك مرهم السلفا أو البنسلين أو مرهم أكسيد الزنك، ويمكن إعطاء المريض قرص أسبرين أو نوفالجين والأطفال يعطون نوفالجين فقط لتخفيف الألم. \n
\n
(ب) إذا كان الحرق شديداً من الدرجة الثانية أو الثالثة ، فيسعف المصاب كالآتي: \n
- يلف المصاب بغطاء وينقل بحذر شديد إلى المستشفى. \n
- يعطى سوائل كثيرة لمنع الجفاف. \n
- لا تنزع الملابس الملتصقة بالجسم، بل يقص حول الجرح لعدم توسيع الجرح. \n
- تجنب وضع أي شيء على جسم الشخص المحروق، بل يترك ذلك للطبيب المخت\n ص.
\n
\n
أسهل طريقة لإِطفاء النار المشتعلة في جسم شخص: \n
هو أن يلف ببطانية جيدا أويتمرغ على الأرضكثيرا، وذلك لمنع الهواء (الأوكسجين) عن النار فتنطفيء. \n
ومن العـلاج المفيد طلاء الحروق بمسحوق السلفاميد أو محلول المكـروكـروم، وإذا أحس المحروق بقشعريرة تستعمل المدفئة الكهربائية ويوصى بحقن المصاب بزيت الكافور وسقيه ماء به قليل من الملح. \n
\n
إسعاف المصاب بحرق مادة كيميائية (حروق الحوامض): \n
أ- يغسل العضو المصاب بالماء البارد والصابون أو بمحلول بيكربونات الصوديوم (ملعقة كبيرة في لتر ماء)، وذلك لتخفيف الحرارة في مكان الإصابة. \n
ب- أما الحروق الناتجة عن القلويات فيجب غسل العضو المصاب جيدا بماء مضـاف إليه مادة حمضية كالخـل أو عصير الليمون أو يكتفي بالغسل بالماء البارد فقط في حالة الضرورة. \n
\n
أطوار  الأصابه بالحروق : \n
١- طور الصدمة العصبية:  وتنشأ عقب الحرق مباشرة نتيجة الألم الشديد. \n
٢- طور الصدمة الدموية: يظهر بعد (12-14) ساعة من الحادث نتيجة فقدان السوائل. \n
٣- طـور التسـمم: ينتج عن امتصاص مواد سامة في الدم من مكان الحروق بعد (3-6) أيام. \n
٤- طور مضاعفه التسمم : نتيجه التهاب صديدى. \n
\n
\n</string>
	</dict>
	<key>ElDarba</key>
	<dict>
		<key>Name</key>
		<string>ضربة الشمس</string>
		<key>Details</key>
		<string>تنتج عن حرارة الشمس الشديدة والأماكن المزدحمة (نقصالأكسجين) فيشعر المصاب بالأعراض الآتية: \n
١- ترتفع درجة الحرارة في جسم الإِنسان. \n
٢- يشعر المصاب بصداع في الرأس ودوار والرغبة في القيء. \n
٣- ضيق في التنفس ناتج عن اختناق. \n
٤- احمرار في اللون وقد يفقد المصاب وعيه مع إغماء وغيبوبة وتشنج. \n
طريقة إسعاف ضربة الشمس: \n
أ - أخذ المصاب إلى مكان ظليل جيد التهوية. \n
ب - وضع كمادات باردة فوق رأس المصاب. مع إعطائه ماءً بارداً عند العطش، لتخفيف حرارة الجسم. \n
جـ - للوقاية يفضل تناول كميات كبيرة من السوائل وملح الطعام. \n
* ويفضل نقل المصاب إلى المستشفى وخصوصا مستشفيات ضرباتالشمس، وذلك للحصول على العلاج اللازم. \n
\n</string>
	</dict>
	<key>ElIghma</key>
	<dict>
		<key>Name</key>
		<string>الإغماء</string>
		<key>Details</key>
		<string> أسباب الإِغـماء: \n
أ - أسباب ناتجة عن المخ مثل: \n
١- حادث دموي بالمخ كنزيف أو انسداد شريان به. \n
٢- إصابة الرأس أو المخ \n
٣ - نوبـات الصـرع. \n
\n
ب - أسباب ناتجة عن الجهاز الدموي، مثل: \n
١- حالات النزيف الشديدة \n
٢- هبوط في القلب. \n
٣- هبوط مفاجيء في الدورة الدموية كما يحدث في الحالات العصبية والنفسية في الجزء السلفي من الجسم وفي الرجلين. \n
\n
جـ- حالات التسمم بالمخدرات والغازات السامة \n
١ - بعض حالات الحمى الشديدة كالملاريا. \n
٢- حالة الربو الشديدة التي تتقلص فيها الممرات الهوائية بحيث يصبح الزفير صعباً، وأهم أعراضه تحول لون الوجه إلى اللون الأزرق. \n
طرق إسعاف الإغماء: \n
١- يوضع المصاب على أحد جانبيه. \n
٢- تنزع الملابس الضيقة من الجسم التي تعيق التنفس.  \n
٣- يرش بالماء البارد أو يستنشق محلول (نشادر) مُعقم ومُحلَل. \n
٤- ينظف الفم جيدا بعد حدوث القيء ومحاولة جذب اللسان للخارج لخروج ما فيه. \n
٥- تدليك القلب وعمل تنفس صناعي. \n
٦ - نقل المصاب للمستشفى إذا لزم. \n
\n</string>
	</dict>
	<key>Ekhtenak</key>
	<dict>
		<key>Name</key>
		<string>الاختناق</string>
		<key>Details</key>
		<string>يمكن أن يحدث الاختناق نتيجة انحشار الطعام في الزور أو نزوله بطريق الخطأ إلى القصبة الهوائية، ويمكن أن يحدث للأطفال أيضاً نتيجة وضعهم لأي شئ صغير في فمهم (مثل جزء صغير من لعبة، لذلك يجب توخى الحذر في اختيار اللعب المناسبة للأطفال). الكحة كرد فعل عادةً تحل المشكلة لكن إذا لم تحل المشكلة يجب أن تساعدي طفلك للتخلص من الطعام أو الجزء المحشور. \n


الأعراض: \n
• عدم القدرة على الكلام\n
• لهث أو شهق \n
• تحول الجلد إلى اللون البنفسجي أو الأزرق\n
• جحوظ في العينين\n
\n
ماذا تفعل؟\n
• حاول إخراج الشئ المحشور من فم طفلك باستخدام أصابعك. \n
• اثني الطفل بحيث تكون رأسه أدنى من صدره ثم اضربه بين كتفيه من الخلف 4 مرات. \n
• بالنسبة للأطفال في سن المدرسة، قف خلف الطفل واقبض إحدى يديك ثم ضعها على بطن الطفل فوق سرته، أمسك يدك المقبوضة بيدك الأخرى ثم اضغط بقوة بطن طفلك إلى الداخل لأعلى. كرر هذه الحركة 4 مرات أو حتى يخرج الطعام أو الشئ المحشور من مجرى التنفس.</string>
	</dict>
	<key>Sadma</key>
	<dict>
		<key>Name</key>
		<string>الصدمة الكهربائية</string>
		<key>Details</key>
		<string>قد تتسبب الصدمة الكهربائية في حدوث وفاة لأنها قد تؤدى إلى إغماء، سكتة قلبية، حروق عميقة، وإصابة الأنسجة\n
ماذا تفعل؟ \n
• لا تلمس الطفل قبل فصل مصدر الكهرباء إن أمكن أو إبعاد مصدر الكهرباء عن الطفل باستخدام شئ مصنوع من مادة عازلة للكهرباء مثل الخشب، الكرتون، أو البلاستيك. \n
• إذا كان لون الطفل شاحباً، افرد جسمه مع رفع ساقيه بحيث تكون رأسه أدنى من جسمه. \n
• الجأ للمساعدة الطبية في الحال. \n

</string>
	</dict>
	<key>Harara</key>
	<dict>
		<key>Name</key>
		<string>الحرارة</string>
		<key>Details</key>
		<string>قد تكون الحرارة ناتجة عن عدوى فيروسية أو عدوى بكتيرية، كما أن الحرارة قد تكون إشارة إلى وجود التهابات. بالنسبة للأطفال الصغار، قد يكون حتى الارتفاع الطفيف في درجة الحرارة علامة على وجود التهاب شديد.
\n
الأعراض: \n
• ارتفاع في الحرارة لأكثر من 5, 38 درجة مئوية وهو ما يعنى أن الجسم يقاوم العدوى. \n
• الرعشة والشعور بالبرد - أو العرق والشعور بالحر. \n
\n
ماذا تفعل؟ \n
• اخلع أغلب ملابس طفلك. \n
• ضع جسمه في ماء فاتر في البانيو أو قومي بعمل كمادات باردة على جميع أجزاء جسمه. \n
ً.اعطيه مشروبات بارده. \n
• ضع جسمه في ماء فاتر في البانيو أو قومي بعمل كمادات باردة على جميع أجزاء جسمه. \n</string>
	</dict>
	<key>Ladgh</key>
	<dict>
		<key>Name</key>
		<string>لدغ العقرب و عض الثعبان</string>
		<key>Details</key>
		<string>إن لدغ العقرب وعض الثعبان للإنسان قد يسبب سموماً تؤثر على الجهاز العصبي وينتج عنها تورم (انتفاخ).
طرق إسعاف المصاب بالسموم (نتيجة العض) \n
ربط أعلى مكان الإِصابة برباط ضاغط ويفضل عمل رباط ضاغط ثان أعلى منه لمنع انتشار السم بالجسم
- يضغط على الجرح في حالة لدغ العقرب أو يجرح ويضغط بشدة في حالة عض الثعبان وذلك ليسيل الدم الملوث. \n
- يطهر مكان الإصابة ويستدعى الطبيب أو يُنقل إلى أقرب مستشفى. \n
- ينبغي تدفئة المصاب وإعطاءه سوائل. \n
أنـواع التسـمم: \n
أنواع التسمم - نوعان هما: \n
- التسمم عن طريق العظام مثل نخاع العظم. \n
 التسمم عن طريق السوائل مثل البنزين . \n
وهناك طريقتان لإِسعاف التسمم بالمشروبات والمأكولات:  \n
(  ) غسل المعدة، ويتم عن طريق نصف كوب ماء يضاف إليه ملعقة كبيرة من ملح الطعام(.ا\n
  ب ) أو الإستفراغ بالإصبع في حالة الضرورة (أي ملامسة البلعوم)، ثم عمل تنفس صناعي عند الحاجة. \n
(ج) أعط المريض حليباً لمعادلة الس\n
عض بعض الحيوانـات: \n
إن عض الحيوانـات للإنسـان بسيط، ولكنـه خطير، لأن الكـلاب والقطط والخيول والجمال قد تكون مصابة بداء الكَلِب الذي تنتقل عدواه عند العض عن طريق الخلايا العصبية، ولا تظهر أعراضه إلا بعد مرور أربعين يوما أو أكثر. \n
وتوجد الجراثيمِ في أشداق جميع الحيوانات التي لها أنياب حادة ولهذا السبب تترك جروحا عميقة وجراثيم قد تتغلغل عميقا في أنسجة المصاب. \n
إسعاف المصاب بعض الحيوانات: \n
1- يترك النزيف يستمر قليلاً لطرد الجراثيم من الجسم بممارسة الضغط المباشر.2-\n
 تطهير الجرح بمادة معقمة. \n
3- ينقل المصاب للمستشفى لأخذ الحقن الواقية إذا كان الجرح بليغاً \n</string>
	</dict>
	<key>Gesm</key>
	<dict>
		<key>Name</key>
		<string>الجسم </string>
		<key>Details</key>
		<string>الأجسام الغريبة:مثل شظايا الخشب, الزجاج والخرزاتالمحشوة بأعلى تجويف الأنف وحبيبات الرمل بالعين واللعب والأزرار المبتلعة عن طريقالفم..... الخ\n
\n
أولا:الأجسام الغريبة في الجروح: \n
يعتمد عمل الممرض المسعف في إخراج الجسم الغريب من الجروح إذا كان غير ملتصق. \n
الشظايا الموجودة تحت الجلدوالأظافر يجب نزعها بملقاط معقم، وتنظيف المنطقة المصابة بالمطهرات. \n
ولابد من وضع الغيارات اللازمة على الجرح بعد عملية التعقيم. \n
\n
ثانيا:الأجسام الغريبة التي في العين: \n
\n
قد تكون في الملتحمة كالرمل وشظايا الزجاج والمعادن قد يكون في القرنية وذلك يؤدي إلى خسوف الضوء وألأم والدموع \n
كلما زادت الشظية عمقا داخل القرنية تتحول إلى قرحه القرنية في حاله إهمال المصاب وعدم الإسراع به إلى الطبيب أو الإسعاف السريع . \n
\n
الإرشادات المتبعة: \n
 عدم دعك العين إغماض العين وفتحهابسرعة لعل من هذه الحركة مع الدموع الناتجة من تهيج أعصاب العين \n إزالة هذا الجسم الغريب ووضع غيار معقم على العين ومن ثم استشارة الطبيب. \n
\n
الإسعافات: \n
\n
وضع المصاب أمام مصدر ضوئي جيد، والجلوس خلف المصاب وطلب إمالة الرأس للخلف، فصل الجفنين لأعلى تمهيدا لفحص العين.عند عدم التمكن من رؤية الجسم الغريب أو كانتحت الجفن نقوم بغسل العين بماء نظيف مع رفع الجفن الأعلى. \n
إذا كان الجسم الغريبغير ملتصقا بالعين يمكن مسح العين بطرف شاشه معقمه وفي حاله التصاقه يمكن تغطيةالعين وينقل المصاب إلى اقرب مستشفى. \n
\n
ثالثاً:الأجسام الغريبة في الأنف والحنجرة أو الأذن:الأجسام الغريبة المبتلعة غالبا ما تحدث عندالأطفال, ويسرع بنقل المصاب إلىالمستشفى. \n</string>
	</dict>
	<key>Oyon</key>
	<dict>
		<key>Name</key>
		<string>العيون</string>
		<key>Details</key>
		<string>    • لا تدعك العين المصابة. \n
• اغسل العين بالماء بأسرع ما يمكن. يمكنك وضع عين الطفل تحت مياه جارية باردة لمدة 10 دقائق. قد يكون أسهل أن تصب الماء من دورق لكي يسقط الماء بعيداً عن الوجه والعين الأخرى. \n

• إذا كانت عين طفلك المصابة مغلقة بشدة، شد الجفن برفق لكي تغسل تحته. \n
• غطي العين بغطاء عين نظيف أو بضمادة نظيفة على ألا تكون مصنوعة من خامة بها وبر وثبتيها على العين باستخدام رباط نظيف. \n</string>
	</dict>
</dict>
</plist>
